@import 'text';
@import 'colors';
@import 'media-queries';


.header {
    z-index: 9;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    width:100%;
    height: 70px;
    background-color:$background-color;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid $gray200;


    &__title{
        width: 69px;
        height: 36px;
        font-weight: $font-bold;
        font-size: nomal;
        font-size: $text-xl1;
        line-height: 150%;
        color: $gray800;

        
        &:hover {
            cursor: pointer;
        }

        @include mobile {
            display: none;
        }
        
    }


    .menu_icon {
        display: none;

        @include mobile {
            display:block;
            font-size: 1.2rem;
            color: $gray900;


            &:hover {
                cursor: pointer;
            }

        }
    }



    &__information{
        display: flex;
        height: 100%;
        align-items:  center;

        
        i{
            padding: 4px;
            margin-right: 12px;
            font-size: 1.3rem;
            transition: background 0.3s linear;

            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }
            
        }


        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: solid 1px $gray300;
            transition: background 0.3 linear;

            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }

}




