.label-success {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 22px;
  background: #def7ec;
  color: #03543f !important;
  border-radius: 10px;
}

.label-primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 22px;
  background: #e1effe;
  color: #1e429f !important;
  border-radius: 10px;
}

.label-danger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 22px;
  background: #fde8e8;
  color: #9b1c1c !important;
  border-radius: 10px;
}

.background__table {
  background-color: #f9fafb !important;
  border-radius: 12px 0px 0px 12px;
}

.header {
  z-index: 9;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  max-width: 1600px;
  height: 70px;
  background-color: #fff;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #e5e7eb;
}
.header__title {
  width: 69px;
  height: 36px;
  font-weight: 700;
  font-size: nomal;
  font-size: 24px;
  line-height: 150%;
  color: #1f2937;
}
.header__title:hover {
  cursor: pointer;
}
@media only screen and (max-width: 46.1875em) {
  .header__title {
    display: none;
  }
}
.header .menu_icon {
  display: none;
}
@media only screen and (max-width: 46.1875em) {
  .header .menu_icon {
    display: block;
    font-size: 1.2rem;
    color: #111827;
  }
  .header .menu_icon:hover {
    cursor: pointer;
  }
}
.header__information {
  display: flex;
  height: 100%;
  align-items: center;
}
.header__information i {
  padding: 4px;
  margin-right: 12px;
  font-size: 1.3rem;
  transition: background 0.3s linear;
}
.header__information i:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.header__information img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: solid 1px #d1d5db;
  transition: background 0.3 linear;
}
.header__information img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.navbar {
  min-width: 250px;
  border-right: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  background-color: #fff;
  position: relative;
  min-height: 85vh;
}
@media only screen and (max-width: 46.1875em) {
  .navbar {
    height: 100%;
    display: none;
    position: absolute;
    -webkit-animation: navbarOpen 0.3s linear;
            animation: navbarOpen 0.3s linear;
  }
  @-webkit-keyframes navbarOpen {
    from {
      left: -50%;
      opacity: 0;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }
  @keyframes navbarOpen {
    from {
      left: -50%;
      opacity: 0;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }
}
.navbar__title {
  display: flex;
  width: 100%;
  height: 64px;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
  padding: 0 23.5px;
}
.navbar__title a {
  text-decoration: none;
  color: #111827;
  outline: none;
  border: none;
}
.navbar__title i {
  color: #000;
  font-size: 1.3rem;
  padding-right: 16px;
}
.navbar__title p {
  width: 100%;
  color: #111827;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  font-style: normal;
  transition: background 0.3s linear;
}
.navbar__title p:hover {
  cursor: pointer;
  color: #1c64f2;
  transform: scale(1.05);
}
.navbar__list {
  padding: 0 23.5px;
  list-style: none;
}
.navbar__list__item {
  display: flex;
  padding-top: 24px;
}
.navbar__list__item i {
  width: 24px;
  color: #000;
  font-size: 1.2rem;
  margin-right: 16px;
}
.navbar__list__item a {
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  font-style: normal;
  color: #111827;
  transition: background 0.3s linear;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: none;
}
.navbar__list__item a:hover {
  cursor: pointer;
  color: #1c64f2;
  transform: scale(1.05);
}
.navbar .navbar__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  padding: 7px 11px;
  width: 100%;
  height: 32px;
  background-color: #1c64f2;
  color: #e1effe;
  border: none;
  outline: none;
}
.navbar .navbar__btn:hover {
  cursor: pointer;
  background-color: #1e429f;
}

.active {
  color: #1c64f2 !important;
}

.content {
  background-color: #f3f4f6;
  flex: 1;
  padding: 16px;
}
.content__turnover {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  background: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.content__turnover_header {
  display: flex;
  align-items: center;
}
.content__turnover_header h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #111827;
  margin-right: 13px;
}
.content__turnover_header img {
  color: #9ca3af;
  width: 18px;
  height: 18px;
}
.content__infomation {
  display: flex;
  margin-top: 16px;
}
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .content__infomation {
    display: block;
  }
}
@media only screen and (max-width: 46.1875em) {
  .content__infomation {
    display: block;
  }
}
.content__infomation__user {
  min-width: 33.3333333333%;
  margin-right: 16px;
  align-items: flex-start;
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .content__infomation__user {
    margin: 0 0 16px 0;
  }
}
@media only screen and (max-width: 46.1875em) {
  .content__infomation__user {
    margin: 0 0 16px 0;
  }
}
.content__infomation__user h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #111827;
}
.content__infomation__user__list {
  list-style: none;
  margin-top: 25px;
}
.content__infomation__user__list .user__list-item {
  display: flex;
  margin-bottom: 9px;
  border-bottom: 1px solid #e5e7eb;
}
.content__infomation__user__list .user__list-item img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}
.content__infomation__user__list .user__list-item .user__item-infomation h2 {
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #111827;
}
.content__infomation__user__list .user__list-item .user__item-infomation p {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #6b7280;
  margin-bottom: 9px;
}
.content__infomation__user__list .user__list-item:last-child {
  border-bottom: unset;
  margin-bottom: unset;
}
.content__infomation__product {
  flex: 1;
  align-items: flex-start;
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.content__infomation__product h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #111827;
  margin-bottom: 25px;
}
.content__infomation__product ul {
  list-style: none;
}
.content__infomation__product ul li {
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 9px;
}
.content__infomation__product ul li:last-child {
  border-bottom: unset;
  margin-bottom: unset;
}
.content__infomation__product ul li h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #111827;
}
.content__infomation__product ul li .produce {
  display: flex;
  justify-content: space-between;
}
.content__infomation__product ul li .produce .produce_id {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #6b7280;
}
.content__infomation__product ul li .produce .produce_share {
  display: flex;
}
.content__infomation__product ul li .produce .produce_share h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #111827;
  margin-right: 4px;
}
.content__infomation__product ul li .produce .produce_share p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: #6b7280;
}
.content__order {
  margin-top: 16px;
  width: 100%;
  padding: 16px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.content__order h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #111827;
}
.content__order p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6b7280;
}
.content__order .table {
  width: 100%;
  max-width: 100%;
  margin: 20px 0;
}
.content__order .table thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.content__order .table tr {
  display: table-row;
  vertical-align: inherit;
  background-color: #fff;
}
.content__order .table tr td {
  vertical-align: bottom;
  border-bottom: 2px solid #e5e7eb;
  padding: 8px;
  vertical-align: top;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #6b7280;
  text-transform: uppercase;
  border-radius: 6px;
}
.content__order .table tbody {
  display: table-row-group;
  vertical-align: middle;
}
.content__order .table tbody td {
  padding: 14px 8px;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
  text-transform: unset;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6b7280;
}
.content__order .table tbody .text_color {
  color: #111827;
  font-weight: 600;
}
.content__footer {
  width: 100%;
  height: 120px;
  margin-top: 16px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}
@media only screen and (max-width: 46.1875em) {
  .content__footer {
    display: block;
    padding: 32px;
  }
}
.content__footer a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6b7280;
}
@media only screen and (max-width: 46.1875em) {
  .content__footer__contact {
    margin-top: 18px;
  }
}
.content__footer__contact a {
  padding: 4px;
  margin: 15px;
  color: #111827;
}
@media only screen and (max-width: 46.1875em) {
  .content__footer__contact a {
    margin-left: 0;
    margin-right: 35px;
  }
}
.content__footer__contact a i {
  transition: background 0.3s linear;
}
.content__footer__contact a i:hover {
  cursor: pointer;
  transform: scale(1.4);
}

#chartjs-tooltip {
  text-align: left;
  background-color: #f9fafb;
  box-sizing: border-box;
  max-width: 194px;
  height: 80px;
  padding: 16px;
  border-radius: 16px;
}

.error_container {
  background-color: #f9fafb;
  text-align: center;
  padding: 100px 0;
}
.error_container .error_content h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #111827;
}
.error_container .error_content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6b7280;
  margin: 8px 0 10px 0;
}
.error_container .error_content button {
  width: 89px;
  height: 39px;
  border-radius: 8px;
  background-color: #0e9f6e;
  padding: 9px 17px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  outline: none;
  border: none;
}

.product {
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 0 16px;
}
.product__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #111827;
  padding-top: 30px;
  padding-bottom: 20px;
}
.product__header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}
.product__header .product__search {
  position: relative;
}
.product__header .product__search .product_search_input {
  width: 400px;
  padding: 8px 12px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
  color: #111827;
}
.product__header .product__search .search__icon {
  position: absolute;
  font-size: 1.3rem;
  top: 0;
  right: 4px;
  color: #4b5563;
  padding: 7px 6px;
}
.product__header .product__search .search__icon:hover {
  cursor: pointer;
  color: #1f2937;
}
.product__header .product__event .Product__add {
  font-style: normal;
  width: 102px;
  justify-content: center;
  align-items: center;
  padding: 7px;
  background: #1c64f2;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  outline: none;
  border: none;
}
.product__header .product__event .Product__add:hover {
  cursor: pointer;
  background-color: #1a56db;
}
.product__header .product__event .Product__add a {
  text-decoration: none;
  color: #e1effe;
}
.product__header .product__event .Product__filter {
  font-style: normal;
  width: 76px;
  justify-content: center;
  align-items: center;
  padding: 7px;
  background: #fff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #1c64f2;
  outline: none;
  border: 1px solid #f3faf7;
}
.product__header .product__event .Product__filter:hover {
  cursor: pointer;
  background-color: #f3faf7;
}
.product__header .product__event .back {
  font-style: normal;
  width: 76px;
  justify-content: center;
  align-items: center;
  padding: 7px;
  background: #fff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #1c64f2;
  outline: none;
  border: 1px solid #f3faf7;
}
.product__header .product__event .back:hover {
  cursor: pointer;
  background-color: #f3faf7;
}
.product .filter {
  margin: 25px 18px 50px;
  display: none;
}
.product .filter .information_group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.product .filter .information_group .information {
  flex: 1;
  position: relative;
  width: calc(50% - 8px);
  align-items: flex-start;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid rgb(219, 217, 217);
  margin-right: 16px;
}
.product .filter .information_group .information select,
.product .filter .information_group .information input {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 10px;
}
.product .filter .information_group .information i {
  position: absolute;
  top: 14px;
  right: 20px;
  color: #6b7280;
}
.product .filter .information_group .information i:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.product .filter .information_group .information label {
  position: absolute;
  font-size: 1rem;
  left: 18px;
  top: 0;
  transform: translateY(-50%);
  background-color: white;
  color: #6b7280;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.15px;
}
.product .filter .information_group .information select {
  width: 100%;
  color: #1c64f2;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  appearance: none;
  position: relative;
}
.product .filter .information_group .information select:hover {
  cursor: pointer;
}
.product .filter .information_group .information select option {
  cursor: pointer;
  color: #111827;
}
.product .filter .information_group .information input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 1;
  color: rgba(0, 0, 0, 0);
  background: url("../image/Vector.svg") no-repeat;
  position: absolute;
  top: 12px;
  right: 10px;
  width: 19px;
  height: 19px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin: 20px 0;
}
.table thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.table thead tr {
  display: table-row;
  vertical-align: inherit;
}
.table thead tr td {
  border-bottom: 2px solid #e5e7eb;
  padding: 8px;
  vertical-align: top;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #6b7280;
  text-transform: uppercase;
  border-radius: 6px;
}
.table tbody {
  display: table-row-group;
  vertical-align: middle;
}
.table tbody tr {
  display: table-row;
  vertical-align: inherit;
  background-color: #fff;
}
.table tbody tr td {
  padding: 14px 8px;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
  text-transform: unset;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6b7280;
  border-radius: 6px;
}
.table tbody tr .text_color {
  color: #111827;
  font-weight: 600;
}
.table tbody tr a {
  padding: 8px;
}
.table tbody tr .fa-pencil {
  color: #1a56db;
  transition: background 0.3s linear;
}
.table tbody tr .fa-pencil:hover {
  cursor: pointer;
  color: #1e429f;
  transform: scale(1.05);
}
.table tbody tr .fa-trash-can {
  color: #c81e1e;
  transition: background 0.3s linear;
}
.table tbody tr .fa-trash-can:hover {
  cursor: pointer;
  color: #9b1c1c;
  transform: scale(1.05);
}

.product_paging {
  display: flex;
  padding: 0 0 18px 0;
  justify-content: flex-end;
  align-items: center;
}
.product_paging p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  color: #6b7280;
}
.product_paging .paging__select {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  outline: none;
  border: none;
  transition: background 0.3s linear;
  margin-left: 8px;
}
.product_paging .paging__select:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.product_paging .paging__directional {
  margin-left: 42px;
}
.product_paging .paging__directional button {
  outline: none;
  border: none;
  background-color: #fff;
  transition: background 0.3s linear;
  color: #6b7280;
}
.product_paging .paging__directional button:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: #4b5563;
}
.product_paging .paging__directional button i {
  padding: 8px;
  font-size: 1rem;
}
.product_paging .paging__directional button .fa-angle-right {
  margin: 0 20px 0 30px;
}

.display {
  display: none;
}

.product_form_add {
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  align-items: flex-start;
  padding: 16px;
  margin-bottom: 22.5vh;
}
.product_form_add .form_add_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product_form_add .form_add_header h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #111827;
}
.product_form_add .form_add_header .add_option .save {
  align-items: center;
  padding: 9px 17px;
  background: #1c64f2;
  border-radius: 8px;
  outline: none;
  border: none;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}
.product_form_add .form_add_header .add_option .save:hover {
  cursor: pointer;
  background-color: #1e429f;
}
.product_form_add .form_add_header .add_option .back {
  align-items: center;
  padding: 9px 17px;
  background: #fff;
  border-radius: 8px;
  outline: none;
  border: 1px solid #f9fafb;
  color: #374151;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}
.product_form_add .form_add_header .add_option .back:hover {
  cursor: pointer;
  background-color: #f9fafb;
}
.product_form_add .form_add_header .add_option .back a {
  color: #374151;
  text-decoration: none;
}
.product_form_add .add_information {
  margin: 18px;
}
.product_form_add .add_information .information_group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.product_form_add .add_information .information_group .information {
  flex: 1;
  position: relative;
  width: calc(50% - 8px);
  align-items: flex-start;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid rgb(219, 217, 217);
  margin-right: 16px;
}
.product_form_add .add_information .information_group .information select,
.product_form_add .add_information .information_group .information input {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 10px;
}
.product_form_add .add_information .information_group .information i {
  position: absolute;
  top: 14px;
  right: 20px;
  color: #6b7280;
}
.product_form_add .add_information .information_group .information i:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.product_form_add .add_information .information_group .information label {
  position: absolute;
  font-size: 1rem;
  left: 18px;
  top: 0;
  transform: translateY(-50%);
  background-color: white;
  color: #6b7280;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.15px;
}
.product_form_add .add_information .information_group .information select {
  width: 100%;
  color: #1c64f2;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  appearance: none;
  position: relative;
}
.product_form_add .add_information .information_group .information select:hover {
  cursor: pointer;
}
.product_form_add .add_information .information_group .information select option {
  cursor: pointer;
  color: #111827;
}
.product_form_add .add_information .information_group .information input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 1;
  color: rgba(0, 0, 0, 0);
  background: url("../image/Vector.svg") no-repeat;
  position: absolute;
  top: 12px;
  right: 10px;
  width: 19px;
  height: 19px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  margin-top: 70px;
  background-color: #fff;
}/*# sourceMappingURL=styles.css.map */