@import 'header';
@import 'navbar';
@import 'content';
@import 'media-queries';
@import '404';
@import 'product';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


.container {
    display: flex;
    margin-top: 70px;
    background-color: $background-color;
}

